<!doctype html>
<html lang="en">

    <%- include('header'); -%>

    <h2 class="title">Quiplash</h2>

    <div id="game">

        <!-- Error Display -->
        <div v-if="error" class="alert alert-danger">
            <strong>Error: </strong> {{error}}
        </div>

        <div v-if="connected">

            <div v-if="me.state === 0">
                <%- include('credentialsPrompt'); -%>
            </div>
            <div v-else>

                <div v-if="state.state === 1">
                    <%- include('lobby'); -%>
                </div>
                <div v-else-if="state.state === 2">
                    <%- include('suggestPrompt'); -%>
                </div>
                <div v-else-if="state.state === 3">
                    <%- include('answer'); -%>
                </div>
                <div v-else-if="state.state === 4">
                    <%- include('voting'); -%>
                </div>
                <div v-else-if="state.state >= 5">
                    <%- include('waiting'); -%>
                </div>

                <%- include('suggestPromptInGame'); -%>

                <%- include('chat'); -%>
            </div>

        </div>
        <div v-else>
            <p>Connecting...</p>
        </div>

        <!-- Admin Advance Button -->
        <div v-if="me.role === 0">
            <%- include('nextButton'); -%>
        </div>

        <!-- Admin Debug Info -->
<!--        <div class="debug">-->
<!--            <p><strong>Debug information:</strong> My state: {{me.state}} | Game state: {{state.state}}</p>-->
<!--        </div>-->


    </div>

    <%- include('footer'); -%>

</html>
